@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

::-webkit-scrollbar
{
    width: 1px;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--cor5);
}

:root
{
    --cor1: #012E40;
    --cor2: #024959;
    --cor3: #026773;
    --cor4: #3CA6A6;
    --cor5: #F2E3D5;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--cor1);
}

header
{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    margin: auto;
    padding: 20px 0px;

    box-shadow: 0px 0px 30px var(--cor1);

}

div.menu
{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div.botao
{
    width: 100%;
}

button.pontos
{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 0px 0px 30px 30px;
    background: var(--cor1);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button.pontos:hover
{
    background-color: var(--cor3);
}

header > div > p 
{
    font-weight: bolder;
}

p.titulo
{
    font-size: 32px;
    color: white;
    cursor: pointer;
}

main
{
    max-width: 600px;
    margin: auto;
    display: block;
    background-color: var(--cor4);
    padding: 0px 0px 50px 0px;
    border-radius: 0px 0px 30px 30px;

    box-shadow: 0px 0px 30px var(--cor1);
}

div.principal
{
    padding: 80px 0px 0px 0px;
    max-width: 95%;
    margin: auto;
}

div.principal > p
{
    font-weight: bolder;
    font-size: 20px;
}

table
{
    width: 100%;

    border-collapse: collapse;
}

td
{
    width: 100px;

    padding: 3px;
    text-align: center;
}

td.nome, td.pontos
{
    font-weight: bolder;
}

td.pontos
{
    font-size: 10px;
}

td.win, div.win
{
    color: rgb(0, 136, 0);
}



body
{
    background-color: var(--cor3);
    position:relative;
}

img.perfil
{
    border-radius: 50%;
    width: 50px;
}

button.botaotopo
{
    position: fixed;
    top: 90%;
    left: 90%;

    border: none;
    box-shadow: 0px 0px 2px white;
    padding: 5px;
    border-radius: 30%;
    cursor: pointer;
    background-color: var(--cor1);
    color: var(--cor5);
    transition: 0.3s;
    width: 30px;
    
}

button.botaotopo:hover
{
    transform: scale(1.1);
}

html
{
    scroll-behavior: smooth;
}

footer
{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--cor1);
    margin-top: 50px;
}

div.rodape
{
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

div.rodape:hover
{
    border-radius: 50%;
}

div.rodape > p
{
    color: black;
    position: absolute;
    top: 80%;
    left: 15%;
    font-weight: bolder;

}

img.lolesports
{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

img.lolesports:hover
{
    transform: scale(1.2);
}

a
{
    text-decoration: none;
}